<h2 align="center"> Bem-vindo ao Sistema de Comandas Padaria Pão no Ponto </h2>
<div align="center">
	&nbsp;
	<div>
	<%= link_to 'Administrar Comandas', orders_path, class: 'button' %>
	</div>

	<div>
	<%= link_to 'Administrar Estoque de Produtos', products_path, class: 'button' %>
	</div>
</div>